$white: #ffffff;
$red: #FF0000;
$concrete: #f2f2f2;
$light_white: #f2f3f5;;
$light_white2: #f8f9fc;
$alto: #dfdfdf;
$black: #000000;
$light_black: #282828;
$codGray: #181818;
$dark_grey: #646464;
$light_grey: #f5f0eb;
$gallery: #eeeeee;
$mineShaft: #313131;
$silver: #cccccc;
$doveGray: #666666;
$gray: #818181;
$tuna: #3a3a47;
$waterLoo: #818198;
$mercury: #E9E9E9;
$boulder: #757575;
$porcelain: #F5F6F7;
//layout colors

//border color
$border1: #d8d8d8;;
$border2: #e1e5ec;
$border3: #dfdfdf;


//Brand Colors
$site_background: #F4F4F4;
$background_alt_color:#F9f9f9;
$primary_color: #27ae60;
$heading_color: #333;
$text_color: $black;
$text_color2: #6A6A6A;
$hover_color: darken($primary_color, 20%);
$secondary_menu_background: #edf1f5;
$excerpt_color: #4d4d4d;

//Font
$mainFont: 'Lexend', sans-serif;
$headerFont: 'Fira Sans Condensed', sans-serif;

//Footer Colors
$footer_bg_color: #000001;
$footer_hover_color: #0799d7;
