.bannar {
    color: #fff;
    padding: 120px 0;    
    &__subtitle {
        position: relative;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500;
        padding-left: 50px;
        &:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            background-color: $primary_color;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }
    &__title {
        font-size: 60px;
        line-height: 80px;
        text-transform: uppercase;
        font-weight: 800;
    }
    &__desc {
        margin: 20px 0;
        font-size: 18px;
        line-height: 30px;
    }
    &__btn {
        margin-top: 30px;
        margin-right: 15px;
    }
    &__form {
        background-color: #fff;
        color: #333;
        padding: 25px;
    }
    &__input {
        position: relative;
        margin-bottom: 20px;
        input, select{
            width: 100%;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: transparent;
            font-size: 15px;
            font-weight: 500;
            appearance: none;
            font-family: 'Lexend';
            color: #333;
            &::placeholder{
                color: #333;
                opacity: 1;
            }
        }
        i{
            position: absolute;
            right: 10px;
            top: 12PX;
            font-size: 15px;
            color: $primary_color;
        }
    }
    &__form-title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &__input-btn{
        background-color: $primary_color;
        width: 100%;
        border: 0;
        padding: 10px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        font-size: 16px;
        transition: .3s;
        &:hover{
            background-color: #333;
        }
    }
}