.header-top{
    background-color: #111;
    padding-top: 50px;
    @include min-small{
        padding-top: 0;
    }
    &__left{
        text-align: center;
        @include min-small{
            text-align: left;
        }
        a{
            color: #fff;
            margin-right: 15px;
            font-size: 15px;
        }
    }
    &__social{
        text-align: center;
        margin-top: -20px;
        @include min-small{
            text-align: right;
            margin-top: 0;
        }
        a{
            color: #fff;
            margin-left: 15px;
            display: inline-block;
            font-size: 14px;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.header{
    position: relative;
    z-index: 99;
    padding: 20px 0;
    @include min-small{
        padding: 0;
    }
    &.sticky{
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        background-color: $white;
        transition: .3s;
        box-shadow: 0 1px 0 rgba(0,0,0,.2);
        @include min-small{
            top: 0;
        }
    }
    &:before {
        display: none;
        @include min-medium{
            display: block;
            width: 260px;
            position: absolute;
            content: "";
            height: 100%;
            background-color: $primary_color;
            z-index: -1;
            transform: skew(15deg);
            left: -60px;
        }
        @include min-large{
            width: 320px;
        }
        @include min-x-large{
            width: 450px;
        }
    }
    &__logo {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        color: #333;
        @include min-small{
            color: #fff;
        }
    }
    &__nav {
        display: none;
        @include min-small{
            display: flex;
            justify-content: center;
            li {
                position: relative;
                > a {
                    display: block;
                    padding: 30px 15px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 15px;
                    position: relative;
                    &:before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: $primary_color;
                        bottom: 25px;
                        transition: .3s;
                    }
                    &:hover{
                        color: $primary_color;
                        &:before{
                            width: 25px;
                        }
                    }
                }
                ul {
                    position: absolute;
                    background-color: $primary_color;
                    z-index: 9;
                    width: 300px;
                    padding: 20px;
                    left: 15px;
                    opacity: 0;
                    visibility: hidden;
                    transition: .3s;
                    li{
                        padding: 10px 0;
                        color: #fff;
                        a{
                            color: #fff;
                            padding: 0;
                            font-size: 16px;
                            text-transform: capitalize;
                            &:hover {
                                padding-left: 5px;
                                color: #fff;
                            }
                        }
                    }
                }
                &:hover{
                    ul{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &.has-child {
                    position: relative;
                    &:before {
                        content: "\f107""";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 700;
                        position: absolute;
                        right: 0;
                        top: 35px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &__right{
        a{
            padding: 10px 35px !important;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.slicknav_menu{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: $primary_color;
    @include min-small{
        display: none;
    }
}