.login {
	padding: 80px 0;
  }
  .login h4 {
	font-size: 30px;
	border-bottom: 1px solid $primary_color;
	padding-bottom: 15px;
	margin-bottom: 20px;
  }
  .login input {
	width: 100%;
	border: 1px solid $primary_color;
	padding: 10px;
	margin-bottom: 20px;
  }
  .login input[type="submit"] {
	width: auto;
	border: 0;
	font-weight: 600;
	font-family: 'Poppins';
	padding: 10px 35px;
  }