.order{
  padding: 40px 0;
    @include min-small{
        padding: 80px 0;
    }
  &__label{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  &__input{
    width: 100%;
    border: 1px solid #ddd;
    padding: 12px;
    background-color: #f4f4f4;
  }
  &__summary {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
    ul{
      li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
    }
  }
  &__summary-title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 10px;
    ul{
      margin-bottom: 35px;
      li{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
      }
    }
  }
  &__summary-border {
    border-top: 1px solid #aaa;
    margin-top: 10px;
    padding-top: 5px;
    font-weight: 600;
  }
  &__payment-single {
    margin: 15px 0;
  }
  &__payment {
    margin-top: 50px;
    display: block;
  }
}