.single-project {
    padding: 100px 0;
    &__featured {
      width: 100%;
      border: 1px solid #ddd;
      padding: 3px;
  }
    &__list {
      margin: 20px 0;
    }
    &__title {
      text-transform: capitalize;
      font-size: 28px;
      margin-bottom: 15px;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
    &__gallery {
      margin-top: -25px;
      img {
        width: 100%;
        border: 1px solid #ddd;
        padding: 3px;
      }
    }
    iframe {
      width: 100%;
      border: 1px solid #ddd;
      padding: 3px;
    }
    &__details {
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    &__sidebar {
      margin-bottom: 40px;
    }
    &__list {
      li {
        margin-bottom: 5px;
        font-weight: 500;
      }
    }
    a{
      margin-top: 25px;
    }
}
