
.why-choose {
    padding: 80px 0;
    background-size: cover;
    background-position: center;
  }
  .why-choose__single {
    text-align: center;
    box-shadow: 0px 0px 50px 11px rgba(95, 138, 236, 0.05);
    background-color: #fff;
    padding: 40px;
    border: 1px solid #f1f1f1;
  }
  .why-choose__icon {
    background-color: $primary_color;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
  }
  .why-choose__title {
    font-size: 26px;
    font-weight: 600;
    margin-top: 10px;
  }